.footer {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    width: 1057px;
}
.footerinfo {
    margin-top: 4rem;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imageSectionFooter img {
    margin: 0.5rem;
}
hr {
    width: 1057px;
    height: 0px;
    border: 1px solid #e6e6e6;
}
.brandText {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.titleInfo {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    color: #ffffff;
}
.linkToCompanyInfo {
    display: flex;
    flex-direction: row;
    width: 1057px;
    align-items: center;
}
.links a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-top: 1rem;

    /* identical to box height, or 171% */
    text-decoration: none;

    /* light-text-color */

    color: #ffffff;
}
.links {
    display: flex;
    flex-direction: column;
}

.blockInfo {
    margin: 2rem;
}
.subscribeCompany {
    margin-left: 10rem;
}
.subscribeCompany input {
}
.buttonTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.1px;

    /* light-text-color */

    color: #ffffff;
}
input {
    font-family: 'Montserrat';
    color: #737373;
    height: 3rem;
    width: 10rem;
    color: white;
    text-align: center;
}
button {
    background: #23a6f0;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    height: 55px;
    width: 117px;
    left: 0px;
    top: 0px;
    color: white;
    font-family: 'Montserrat';
}
.subscribeForm {
    display: flex;
    flex-direction: row;
}
.buttonInfo {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;

    color: white;
}

@media (max-width: 1024px) {
    .linkToCompanyInfo {
        width: 100%;
        flex-direction: column;
    }
    .footerinfo {
        flex-direction: column;
    }
    hr {
        display: none;
    }
    .sectionWithAllInfo {
        flex-direction: column;
    }
    .block {
        margin-left: 0px;
    }
    .subscribeForm {
        margin-right: 7rem;
    }
}
